<html>

	<head>
		<title>About</title>
	</head>
	

	<body>

		<h1> About us</h1>
		<h3>Document upload and notifiaction system</h3>
		<p> Somos estudiantes de tercer año de la Universidad Nacional de Rìo Cuarto, de la facultad de Ciencias Exactas, Fisicas y Naturales de la
		la carrera de Licenciatura en Cs. de la Computacion.
		</p>


	</body>


</html>
