<!DOCTYPE html>
<html>
	<body>
			
			<div class="container">
				<h1>ABOUT US</h1>
				<p>Nuestros nombres son Juan Alanis y Jeremias Parladorio. <br>
				   Somos estudiantes pertenecientes a la <b>Universidad Nacional de Rio Cuarto</b> 
				   de la facultad de Ciencias Exactas, Fisicas, Quimicas y Naturales<br>
				   Actualmente estamos cursando el tercer año de Licenciatura en Ciencias de la Computacion y realizamos este software como proyecto de la materia Analisis y Diseño de Sistemas
				</p>
			</div>
		</main>

	</body>


</html>
