<!DOCTYPE html>
<html>

   <body>
   		<p>Sobre este sitio</p>

   <p>Este sitio es un proyecto en progreso para la materia Analisis y Diseño de Sistemas de la UNRC.</p>
   <p>Somos un grupo de 3 estudiantes formado por Emiliano Baez, Leonardo Gaitan y Juan Yachino.</p>
   <p>Si alguno quiere donar algo de plata sera bienvenido, contactese con juan yachino que ese maneja la economia </p>
   </body>

</html>
