<!DOCTYPE html>
<html>
   <div align="center">
   		<h1>Sobre este sitio</h1>
   		<p>Este sitio es un proyecto para la materia Analisis y Diseño de Sistemas de la UNRC.</p>
   		<p>Somos un grupo de 3 estudiantes formado por Emiliano Baez, Leonardo Gaitan y Juan Yachino.</p>
	    <p>En el mismo implementamos y volcamos todo lo que vamos aprendiendo tanto en los talleres como tambien en la clases teoricas-practicas </p>
   </div>
</html>
