<!DOCTYPE html>
<html>

	<head>
		<title>About Us</title>
	</head>
	

	<body style="background-color:RGB(240, 248, 255);">
		 <header>
                <nav>
                        <ul>
                        <li><a href="/"> Docs</a></li>                     
                        <li><a href="/signup"> Sign up</a></li> 
                        <li><a href="/login"> Log in</a></li>
                        <li><a href="/aboutus"> About us</a></li>
                        </ul>
        </header>


		<center><h1 style="font-family:courier;">DOCUMENT UPLOAD AND NOTIFICATION SYSTEM</h1></center>
		<center><table border=1 cellspacing=0 width="760"  bgcolor="ghostwhite">
			<tr>
				<th><h3 style="font-family:courier;"> About us</h3></th>
			</tr>
			<tr>
				<td>
					<P ALIGN="justify" style="font-family:arial;"> Somos Jeremias Parladorio y 
					Juan Alanis.<br>
					Somos Estudiantes de la Universidad Nacional de Rìo Cuarto de la Facultad de CIencias
					Exactas, Fisicas, Quimicas y Naturales. <br>
					Actualmente estamos cursando Tercer Año de la carrera Licenciaturas en Ciencias de la
					Computacion y realizamos este software como proyecto de la materia Analisis y Diseño de
					Sistemas </p>
				</td>
			</tr>
		</table></center>


	</body>


</html>
