<form method="POST" action="/add_subscriptions">
  <div class="container col-xl-6">
    <div class="row">
      <nav class="container col-xl-8 backgroundform1">
        <div class="form-group text-center">
          <% @collection.each do |element| %>
            <input type="radio"  value="<%= element.name%>"  name="name" required>
            <label>Name: <%= element.name%></label>
            <label>- Description: <%= element.description%> </label>
            <br>
            <% end %>
        </div>
        <div class="form-group text-center">
          <button type="submit" id="buttontop" class="btn-lg  button2" type="submit">Add</button>
        </div>
      </nav>
    </div>
  </div>
</form>
