<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    <title>Admin</title>
</head>
<body>
  <h1> Admin </h1>
    <div id="container">
        <form>
            <label for="name">First Name:</label>
            <br>
            <label for="surnames">Last Names:</label>
            <br>
            <label for="dni"> Dni:</label>
            <br>
            <div id="lower">
                <br>
                <input id="inp" type="button" value="Change pic"/>
                <br>
                <input id="inp" type="button" value="Change info"/>
                <br>
                <input id="inp" type="button" value="Add Admin"/>
                <br>
                <input id="inp" type="button" value="Add Category"/>
                <br>
                <input id="inp" type="button" value="Add Document" onclick="location.href='NewDocument';" />
                <br>
            </div>
            <br>
            <label for="categorias">Categoria1</label>
            <br>
            <label for="categorias">Categoria2</label>
            <br>
            <label for="categorias">Categoria3</label>
            <br>
        </form>
    </div>
</body>
</html>
