<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/create_category" method="GET">
        <button type="submit" name="Search & Modify">Create</button>
    </form>
    <form  action="/delete_category" method="GET">
        <button type="submit" name="Search & Modify">Delete</button>
    </form>
    <form  action="/search_category" method="GET">
        <button type="submit" name="Search & Modify">Search</button>
    </form>
    <form  action="/modify_category" method="GET">
        <button type="submit" name="Search & Modify">Search & Modify</button>
    </form>
  </body>
</html>
