<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form  action="/create_category" method="POST">
      <input type="text" name="name" placeholder="Input category name">
      <input type="text" name="description" placeholder="Input description">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
