<form method="post" action="create_document" enctype="multipart/form-data">
  <div class="row">
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10  text-center">
        <div class="form-group">
          <label>Nombre del  documento:</label>
          <input type="text" class="form-control backgroundImput" name="name"placeholder="Input the name document" required>
        </div>
        <div class="form-group">
          <label>Decripcion del document:</label>
          <input type="text" class="form-control backgroundImput" name="description" placeholder="Input the description" required>
        </div>
        <div class="row">
          <div class="container col-12 form-group m-auto">
            <input type="button"  value="Seleccione un archivo" id="buttonIndex" class="buttonIndex" onclick="document.getElementById('file').click();" />
            <input type="file" style="display:none;" id="file" name="PDF" accept=".pdf" required />
            <button id="buttonIndex" type="submit">Subir</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10">
        <% @categories.each do |element| %>
          <input type="radio" name="cat" value="<%= element.id%>" required><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
    <div class="container col-xl-4">
      <div class="backgroundFroms col-xl-10"">
        <% @userCreate.each do |element| %>
          <input type="checkbox" name="mult[]" value="<%= element.id%>"><%= element.name%>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</form>
