<% if @errormsg %>
  <div class="alert alert-success" role="alert">
    <%= @errormsg %>
  </div>
<% end %>
<form for="validation01" method="POST" action="/newUserAdmin">
  <div class="row">
    <div class="container col-xl-6">
      <nav class="container col-xl-8 text-center backgroundFromsB">
        <div class="text-center">
          <img class="imagen1" src="/index.png">
        </div>
        <div class="text-center">
          <button class="buttonForm" type="submit">Crear Usuario</button>
        </div>
      </nav>
    </div>
    <div class="container col-xl-6">
      <nav class="container col-xl-10 backgroundFromsB">
        <div class="form-group">
          <label class="marginLavel">Nombre</label>
          <input type="text" class="form-control backgroundImput" name="name" placeholder="Ingrese su Nombre">
        </div>
        <div class="form-group">
          <label class="marginLavel">Apellido</label>
          <input type="text" class="form-control backgroundImput" name="surname" placeholder="Ingrese su Apellido">
        </div>
        <div class="form-group">
          <label class="marginLavel">DNI</label>
          <input type="number" class="form-control backgroundImput"  name="dni"placeholder="Ingrese su DNI">
        </div>
        <div class="form-group">
          <label class="marginLavel">Email</label>
          <input type="email" class="form-control backgroundImput"  name="email"placeholder="Ingrese su Email">
        </div>
        <div class="form-group">
          <label class="marginLavel">Contraseña</label>
          <input type="password" class="form-control backgroundImput" name="password" placeholder="**********">
        </div>
        <div class="form-group">
          <label>Rol</label>
          <select class="form-control backgroundImput" name="rol" placeholder="Ingrese su Rol en la UNRC">
            <option value="Estudiante">Estudiante</option>
            <option value="Profesor">Docente</option>
            <option value="Profesor">No Docente</option>
            <option value="Administrativo">Administrativo</option>
          </select>
        </div>
        <div class="form-group">
          <label>Permiso</label>
          <select class="form-control backgroundImput" name="type" required>
            <option value="Usuario">Usuario</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>
      </nav>
    </div>
  </div>
</form>
