<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form action="/create_category" method="Post">
        <input type="text" name="name" placeholder="Input category name">
        <input type="text" name="description" placeholder="Input description">
        <button type="submit">Create</button>
        <button type="submit" formaction="/category">It's Okay</button>
      </form>
  </body>
</html>
