<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style_forms.css">
    <link rel="stylesheet" href="/style_layout.css">
    <link rel="stylesheet" href="/style_user.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light colorNavBar">
      <div class="container">
        <a class="navbar-brand" href="/">Sitema De Notificacione UNRC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a id="buttonLogin" class="nav-link" href="/login" role="button">Iniciar sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form for="validation01" method="POST" action="/newUser">
      <div class="row">
        <div class="container col-xl-6">
          <nav class="container col-xl-8 text-center backgroundFromsB">
            <div class="text-center">
              <img class="imagen1" src="/index.png">
            </div>
            <div class="text-center">
              <button class="buttonForm" type="submit">Crear Usuario</button>
            </div>
          </nav>
        </div>
        <div class="container col-xl-6">
          <nav class="container col-xl-10 backgroundFromsB">
            <div class="form-group">
              <label class="marginLavel">Nombre</label>
              <input type="text" class="form-control backgroundImput" name="name" placeholder="Ingrese su Nombre">
            </div>
            <div class="form-group">
              <label class="marginLavel">Apellido</label>
              <input type="text" class="form-control backgroundImput" name="surname" placeholder="Ingrese su Apellido">
            </div>
            <div class="form-group">
              <label class="marginLavel">DNI</label>
              <input type="number" class="form-control backgroundImput"  name="dni"placeholder="Ingrese su DNI">
            </div>
            <div class="form-group">
              <label class="marginLavel">Email</label>
              <input type="email" class="form-control backgroundImput"  name="email"placeholder="Ingrese su Email">
            </div>
            <div class="form-group">
              <label class="marginLavel">Contraseña</label>
              <input type="password" class="form-control backgroundImput" name="password" placeholder="**********">
            </div>
            <div class="form-group">
              <label>Rol</label>
              <select class="form-control backgroundImput" name="rol" placeholder="Ingrese su Rol en la UNRC">
                <option value="Estudiante">Estudiante</option>
                <option value="Profesor">Docente</option>
                <option value="Profesor">No Docente</option>
                <option value="Administrativo">Administrativo</option>
              </select>
            </div>
          </nav>
        </div>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
