<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create_users</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form method="POST" action="/newCreatesUsers">
      <input type="text" name="name" placeholder="Input your name">
      <input type="text" name="surnames" placeholder="Input your surnames">
      <input type="number" name="dni" placeholder="Input your dni">
      <input type="text" name="userName" placeholder="Input your username">
      <input type="text" name="password" placeholder="Input your password">
      <input type="number" name="rol" placeholder="Input your rol">
      <input type="number" name="admin" placeholder="Input your admin">
      <button type="submit">log in</button>
    </form>
  </body>
</html>
