<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/create_categories" method="POST">
      <input type="number" name="numero_category" placeholder="Input category number">
      <input type="text" name="name" placeholder="Input category name">
      <input type="text" name="descpricion" placeholder="Input description">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
