<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>create document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form method="POST" action="newDocument" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Input your name">
      <input type="text" name="description" placeholder="Input your description">
      <input type="text" name="date" placeholder="Input your date">
      <input type="file" name="PDF" accept=".pdf">
      <button type="submit">Subir</button>
    </form>
  </body>
</html>
