<!DOCTYPE html>
<html>

	<head>
		<title>Actas</title>
	</head>
	<body style="background-color:RGB(240, 248, 255);">
		 <header>
                        <nav>
                                <ul>
                                <li><a href="http://localhost:9292/"> Docs</a></li>                     
                                <li><a href="http://localhost:9292/signup"> Sign up</a></li> 
                                <li><a href="http://localhost:9292/login"> Log in</a></li>
                                <li><a href="http://localhost:9292/aboutus"> About us</a></li>
                                </ul>
                </header>		
		<center><h1 style="font-family:courier;">DOCUMENT UPLOAD AND NOTIFICATION SYSTEM</h1></center>
		
		<table>

		     <tr>
			<td> Nombre </td>
			<td> Fecha </td>
		 	<td> Categoria </td>
		     </tr>
			
		</table>
		
	</body>
	

</html>
