<html>

	<head>
		<title>Actas</title>
	</head>
	<body>
		
		<h2> Web Actas </h2>
		
		<table>

		     <tr>
			<td> Nombre </td>
			<td> Fecha </td>
		 	<td> Categoria </td>
		     </tr>
			
		</table>
		
	</body>
	

</html>