<!DOCTYPE html>
<html>

	<head>
		<title>Actas</title>
	</head>
	<body style="background-color:RGB(240, 248, 255);">
		 <header>
                <nav>
                        <ul>
                        <li><a href="/"> Docs</a></li>                     
                        <li><a href="/signup"> Sign up</a></li> 
                        <li><a href="/login"> Log in</a></li>
                        <li><a href="/aboutus"> About us</a></li>
                        </ul>
        </header>		
		<center><h1 style="font-family:courier;">DOCUMENT UPLOAD AND NOTIFICATION SYSTEM</h1></center>
		
		<table>

		     <tr>
			<td> Nombre </td>
			<td> Fecha </td>
		 	<td> Categoria </td>
		     </tr>
			
		</table>
		
	</body>
	

</html>
