<form for="validation01" method="POST" action="/editNewUser">
  <div class="row">
    <div class="container col-xl-6">
      <div class="row">
        <nav class="container col-xl-8 backgroundImag">
          <div class=" text-center">
            <img class="imagen1" src="/index.png">
          </div>
          <div class=" text-center">
            <button class="buttonForm" type="submit">Save</button>
          </div>
        </nav>
      </div>
    </div>
    <div class="container col-xl-6">
      <div class="row">
        <nav class="container col-xl-8 backgroundFroms">
          <div class="form-group">
            <label class="marginLavel">Name</label>
            <input type="text" class="form-control backgroundImput" name="name"placeholder="<%= @userName.name %>" required>
          </div>
          <div class="form-group">
            <label class="marginLavel">Surname</label>
            <input type="text" class="form-control backgroundImput" name="surname" placeholder="<%= @userName.surname %>" required>
          </div>
          <div class="form-group">
            <label class="marginLavel">DNI</label>
            <input type="number" class="form-control backgroundImput"  name="dni"placeholder="<%= @userName.dni %>" required>
          </div>
          <div class="form-group">
            <label class="marginLavel">Password</label>
            <input type="password" class="form-control backgroundImput" name="password" placeholder="**********" required>
          </div>
          <div class="form-group">
            <label class="marginLavel">Rol</label>
            <input type="text" class="form-control backgroundImput" name="rol"placeholder="<%= @userName.rol %>" required>
          </div>
        </nav>
      </div>
    </div>
  </div>
</form>
