<!DOCTYPE html>
<html>

        <head>
		<title>Sign up</title>
	</head>
	
        <body style="background-color:RGB(240, 248, 255);">
                 <header>
                        <nav>
                                <ul>
                                <li><a href="/"> Docs</a></li>                     
                                <li><a href="/signup"> Sign up</a></li> 
                                <li><a href="/login"> Log in</a></li>
                                <li><a href="/aboutus"> About us</a></li>
                                </ul>
                </header>

		<center><h1 style="font-family:courier;">DOCUMENT UPLOAD AND NOTIFICATION SYSTEM</h1></center>
                <center><table border=1 cellspacing=0 width="300" >     
                        <tr>
                                <th><h3 style="font-family:courier;"> SIGN UP to DUNS</h3></th>
                        </tr>
                        <tr>    
                                <td><form method="POST" action="/signup">
                                                <p> Do you have an account?<a href="/login">Log in</a></p>
                                                <center><p>Your fullname: <input type="text" name="fullname"></p></center>
                                                <center><p>Your email: <input type="text" name="email"></p></center>
                                                <center><p>Your username: <input type="text" name="username"></p></center>
                                                <center><p>Your password: <input type="password" name="password"></p></center>
                                                <center><p>Confirm password: <input type="password" name="confPassword"></p><center> 
                                                <center><p>That email addres is not valid</p><center>
                                                <center><input type="submit" /></center>
                                        </form>
                                </td>
                        </tr>
                </table></center>



	</body>

</html>
 