<!DOCTYPE html>
<html>

	<body>
		<center><table border=1 cellspacing=0 width="300" >	
			<tr>
				<th><h3 style="font-family:courier;"> RETRIEVE YOUR PASSWORD </h3></th>
			</tr>
			<tr>	
				<td><form method="POST" action="/forgotpass">
						<center><p>Te va a llegar un codigo de confirmacion a tu correo electronico</p></center>
						<center><p>Email: <input type="text" name="username" placeholder="Input your email"></p></center>
						</p></center> 
						</br><center><input type="submit" name="" value="SEND" /></center>
					</form>
				</td>
			</tr>
		</table></center>


	</body>



</html>
