<!DOCTYPE html>
<html>

	<body>
		<div class="centraTabla">
		<table>	
			<tr class="fila">
				<th><h3> RETRIEVE YOUR PASSWORD </h3></th>
			</tr>
			<tr>	
				<td><form method="POST" action="/forgotpass">
						<p>You will receive a confirmation code in your email inbox</p>
						<p class="cuadrito">Email: <input type="text" name="username" placeholder="Input your email"></p>
						</br><input class="button2" type="submit" name="" value="SEND" />
					</form>
				</td>
			</tr>
		</table>
		</div>

	</body>



</html>
