<!DOCTYPE html>
<html>
 
   <body>
   		<p>Ahh... es una hermosa pagina web..</p>
      <img src="https://k38.kn3.net/taringa/1/8/1/6/4/2//chapusan/7DA.gif" alt="asadorhomergif" width="500"
         height="281"
   <p>Por que la mia no se ve asi??</p>
   <p>Ingrese <a href="/login">aqui</a>.</p>
   <p>Crear cuenta <a href="/register">aqui</a>.</p>
   </body>
   
</html>
