<html>

	<head>
		<title>Prueba</title>
	</head>
	<body>
			
		<header>
			<nav>	
				<ul>	
				<li><a href="http://localhost:9292/docs">Docs</a></li>
				<li><a href="http://localhost:9292/signup"> Sign up</a></li> 
				<li><a href="http://localhost:9292/login"> Log in</a></li>
				<li><a href="http://localhost:9292/aboutus"> About us</a></li>
				</ul>
		</header>	
		<section class="wrapper">
			<section class="main">
				<article>	
					<h2> DOCUMENTS UPLOAD & NOTIFICATION SYSTEM  </h2>
					<p> pagina version desarrollo </p>
				</article>
			</section>
		</section>
		<footer>
			<p> pagina del proyecto de analisis y diseno de sistemas version 1 </p>
		</footer>
		
	</body>
	

</html>
