<!DOCTYPE html>
<html>

	<div class="jumbotron bg-primary">
	  		<h1 class="display-3 text-white">WELCOME TO DUNS!</h1>
	  <p class="lead">DUNS is a software from Universidad Nacional de Rio Cuarto to view online, download documents and receive notifications if you are tagged in a document</p>
	  <hr class="my-4">
	  <p>What you want to do?</p>
	  <p class="lead">
	    	<a href="/documents" type="button" class="btn btn-secondary btn-lg btn-block"> View documents </a>
			<a href="/signup" type="button" class="btn btn-secondary btn-lg btn-block"> Sign up </a>
			<a href="/login" type="button" class="btn btn-secondary btn-lg btn-block"> Log in </a>
			<a href="/aboutus" type="button" class="btn btn-secondary btn-lg btn-block"> Know more about us</a>
	  </p>
	</div>
</html>