<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Notifications</title>
        <!--Estilos css -->
        <!-- script js --> 
    </head>
    <body>
        <h1>Titulo <%=title%></h1>
        <h1>Tipo <%=type%></h1>
    </body>
    
</html>