<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Notifications</title>
        <!--Estilos css -->
        <!-- script js --> 
    </head>
    <body>
        <h1>Hola</h1>
        
    </body>
</html>