<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style_forms.css">
    <link rel="stylesheet" href="/style_layout.css">
    <link rel="stylesheet" href="/style_user.css">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light colorNavBar">
        <div class="container">
          <a class="navbar-brand" href="/home">Notification system</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home"><%= @userName.name %></a>
              </li>
              <li class="nav-item dropdown">
                <a  id="centerSlideButtonsNavBar" class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <div class="dropdown-menu slideButtonsNavBar " aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-center slideButtonsNavBarHover" href="/home">Home</a>
                  <a class="dropdown-item text-center slideButtonsNavBarHover" href="/edit_user">Profile</a>
                  <a class="dropdown-item text-center slideButtonsNavBarHover" href="all_document">All documents</a>
                  <a class="dropdown-item text-center slideButtonsNavBarHover" href="/subscriptions">Subscriptions</a>
                  <a class="dropdown-item text-center slideButtonsNavBarHover" href="/logout">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <%= yield %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
