<!DOCTYPE html>
<html>
	<body>
		</header>
		
		<div class="centraTabla">
		<table class="tabla">	
			<tr class="fila">
				<th><h3> LOG IN TO DUNS</h3></th>
			</tr>
			<tr>	
				<td></p> 
						<% if @errorIngreso %>
    						<p class="error"><%= @errorIngreso %></p>
  						<% end %>
					<form method="POST" action="/login">
						<p class="cuadrito">Your username: <br><input type="text" name="username" placeholder="Input your username"></p>
						<p class="cuadrito">Your password: <br><input type="password" name="password" placeholder="Input you password"></p>
						<p ><a href="/forgotpass"> Forgot your password?</a>      
					
						<a href="/signup"> SIGN UP!</a>
						</p> 
						<% if @error %>
    						<p class="error"><%= @error %></p>
  						<% end %>
						</br><input class="button2" type="submit" name="Log In" value="LOG IN" />
					</form>
				</td>
			</tr>
		</table>
		</div>

	</body>



</html>
