<!DOCTYPE html>
<html>
   <head>
      <title>Ha ingresado con exito</title>
   </head>

   <body>
      <p>HAS INGRESADO CON EXITO!</p><br>
   	<p>Estuviste toda la noche copiando y pegando codigo html??</p>
      <img src="https://k60.kn3.net/taringa/C/A/F/4/6/4/vagonettas/6AA.gif" alt="creo q estoy ciego.gif" width="500"
         height="281"
         
        
   </body>
   <p>Para cargar un documento <a   href="/upload">click aca</a>. </p>
  

</html>
