<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
      <div class="">
        <form method="POST" action="/login">
          <input type="text" name="userName" placeholder="Input your userName">
          <input type="text" name="password" placeholder="Input your password">
          <button type="submit" name="Log In">log in</button>
        </form>
    </div>
  </body>
</html>
