<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form  action="/modify_category" method="POST">
      <input type="text" name="oldName" placeholder="Input old category name">
      <input type="text" name="name" placeholder="Input new category name">
      <input type="text" name="description" placeholder="Input new description">
      <button type="submit">Modify</button>
      <button type="submit" formaction="/category">It's Okay</button>
    </form>
  </body>
</html>
