<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    <title>New Document</title>
</head>
<body>
  <h1> Add Document </h1>
    <div id="container">
        <form>
          <style type="text/css">
            label{
              display: inline-block;
              float: left;
              clear: left;
              width: 250px;
              text-align: right;
            }
            input {
              display: inline-block;
              float: left;
            }
          </style>
          <label for="numberDoc">Document Number:</label><input type="numberDoc">
          <label for="nameDoc">Document Name:</label><input type="nameDoc">
          <input type="file" name="somename" size="chars">
          <input id="inp" type="button" value="Add File" onclick="location.href='Admin';" />
        </form>
    </div>
</body>
</html>
