<div class="">
  <% @Noti.each do |element| %>
  <div class="backgroundFroms">
    <label><% @Noti.type %></label>
    <input type="text" name="" value="<% @Noti.id %>"><% @Noti.description %></input>
  </div>
  <% end %>
</div>
