<!DOCTYPE html>
<html>
    <head>
        <title>Perfil</title>
    </head>
    <body>
        <p>Este es tu perfil, elige las opciones que necesites!</p><br></br>
        <p>Usuario:</p>
        <p>Email:</p>
        <p>Telefono de contacto:</p>
    </body>
</html>
