<!DOCTYPE html>
<html>
    <body>
        <p>Usuario: <%= @user %></p>
    
        <p>Email:<%= @mail %></p>
        <form action="/test" method="POST">
          <p>Presione "Solicitar" para recibir información en linea</p>
          <input type="submit" value="Solicitar">

        </form>
        
    </body>
</html>
