<!DOCTYPE html>
<html>
    <head>
      <style>
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #0066ff;
            text-align: left;
            padding: 8px;
          }

          
        </style>
    </head>
    <body>
        <p>Usuario: <%= @user %></p>
    
        <p>Email:<%= @mail %></p>
        <form action="/test" method="POST">
          <p>Presione "Solicitar" para recibir información en linea</p>
          <input type="submit" value="Solicitar">

        </form>
        
    </body>
</html>
