<!DOCTYPE html>
<html>
    <head>
        <title>Perfil</title>
    </head>
    <body>
        <p>Usuario: </p>
        <p>cambiar de contraseña</p>
        <p>cambiar foto de perfil</p>
        <p>y nose qe mas se le puede agregar</p>
    </body>
</html>