<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form  action="/eliminar" method="POST">
      <button type="submit">Delte user</button>
    </form>
  </body>
</html>
