<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <form method="POST" action="/editprofile">
      <button type="submit">edit users</button>
    </form>
    <form method="POST" action="/tag_document">
      <button type="submit">my tag in documents</button>
    </form>
    <form method="POST" action="/salir">
      <button type="submit">salir</button>
    </form>
  </body>
</html>
