<!DOCTYPE html>
<html>
	<body>
		<div class="centrarTodo">
		<div class="centraTabla">
			<table ><tr>
				<td class="columna">
					<a href="/suscribe" class="button"> Suscribe to new categories</a>
				</td>
				<td class="columna">
					<a href="/mycategories" class="button"> View your categories</a>
				</td>
			</tr></table>
		</div>
		<div class="centraTabla">
			<table ><tr>
				<td class="columna">
					<a href="/deletecat" class="button"> Delete a category suscription</a>
				</td>
				<td class="columna">
					<a href="/editprofile" class="button"> Edit your profile</a>
				</td>
			</tr></table>
		</div>
		<div class="centraTabla">
			<div style="display:<%= @visibility %>;">
			<table><tr>
				<td class="columna">
					<a href="/upload" class="button"> Upload new documents</a>
				</td>
				<td class="columna">
					<a href="/newadmin" class="button"> Create a new admin</a>
				</td>
			</tr></table>
		</div>
		</div>
	</body>
</html>
