<!DOCTYPE html>
<html>

	<body>
			<table>	
				<tr> <th><h3>Suscribe to new categories</h3></th>
	            	 <th><h3>Submit new documents</h3></th>
	            	 <th><h3>Invite admin</h3></th>
	            	 <th><h3>Edit your profile</h3></th>
				</tr>
				<tr>
				<td><form method="POST" action="/profile">
	                    <p>Categories: <select id="categorie" name="categorie">
										  <option value="presupuesto">Presupuesto</option>
										  <option value="presupuesto">Presupuesto</option>
										  <option value="deportes">Deportes</option>
										</select></p>
	                    <% if @error %>
	                    <p class="error"><%= @error %></p>
	                    <% end %>
	                    <% if @success %>
	                    <p class="success"><%= @success %></p>
	                    <% end %>

	                    <input type="submit" />
	          	  </form></td>
				<td><form method="POST" action="/profile">
	                    <p>Date: <input type="date" name="date"></p>
	                    <p>Title: <input type="text" name="title"></p>
	                    <p>Users involved: <input type="" name="users"></p>
	                    <p>Categories: <select id="categories" name="categories"	>
										  <option value="presupuesto">Presupuesto</option>
										  <option value="presupuesto">Presupuesto</option>
										  <option value="deportes">Deportes</option>
									</select></p>
	                    <p>Document: <input type="file" name="document" accept=".pdf"></p>
	                    <% if @error2 %>
	                    <p class="error"><%= @error %></p>
	                    <% end %>
	                    <input type="submit" />
	           	 </form></td>
	           	 <td>
	           	 	<form>
	           	 		<p>Invite user <input type="" name="username"> to admin</p>
	           	 	</form>
	           	 </td>
	           	 <td>
	           	 	<ul>
	           	 		<li><a href="/">Change your username</a></li>
	           	 		<li><a href="#">Change your fullname</a></li>
	           	 		<li><a href="#">Change your email</a></li>
	           	 		<li><a href="#">Change your password</a></li>
	           	 	</ul>
	           	 </td>

	          </tr>
	        </table>
	</body>
</html>
