<!DOCTYPE html>
<html>
	<body>
		<div class="centrarTodo">
		<div class="centraTabla">
			<table ><tr>
				<td class="columna"><form action="/suscribe" method="get">
					<input class="button" type="submit" value="Suscribe to new categories">
				</form></td>
				<td class="columna"><form action="/categories" method="get" >
					<input class="button" type="submit" value="View your categories">
				</form></td>
			</tr></table>
		</div>
		<div class="centraTabla">
			<table ><tr>
				<td class="columna"><form action="/deletecat" method="get">
					<input class="button" type="submit" value="Delete a categorie suscription">
				</form></td>
				<td class="columna"><form action="/editprofile" method="get">
					<input class="button" type="submit" value="Edit your profile">
				</form></td>
			</tr></table>
		</div>
		<div class="centraTabla">
			<div style="display:<%= @visibility %>;">
			<table><tr>
				<td class="columna"><form action="/upload" method="get">
					<input class="button" type="submit" value="Upload new documents">
				</form></td>
				<td class="columna"><form action="/newadmin" method="get">
					<input class="button" type="submit" value="Invite user to admin">
				</form></td>
			</tr></table>
		</div>
		</div>
	</body>
</html>
