<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="encabezado">
      <div class="izqSups">
        <button type="button" name="button" class="buttonLogin">LOGIN</button>
      </div>
    </div>
  </body>
</html>
