<!DOCTYPE html>
<html>
<body>

<form action="/login" method="get" enctype="multipart/form-data">
    Ingrese su email para recuperar su contraseña:
    <input type="text" name="email" id="email">
    <input type="submit" value="Enviarme email de recuperacion" name="enviar">
</form>

</body>
</html>
