<!DOCTYPE html>
<html>
   <head>
      <title>Se registro con exito</title>
   </head>

   <body>
   		<p>Lo anotare en mi base de datos invisible (?.</p>
      <img src="https://2.bp.blogspot.com/-8W896rZvviU/WBhkFOKejBI/AAAAAAAA9t4/GE-vHGhHQvIvkL_KYOBi__nBbYodfFdYACLcB/s1600/s-227.gif" alt="Lo anotare en mi base de datos invisible(?" width="500"
         height="281"
   </body>
</html>
