<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Notificaction - Registrarme</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
</head>

<body>
  <% if @error %>
      <div class="form-text text-danger" role="alert">
        <%= @error%>
      </div>
  <% end %>
  <div class="register-photo" style="background-color: #ffffff;;">
      <div class="form-container">
          <form action="/register" method="post">
              <h2 class="text-center"><strong>Crear</strong>&nbsp;una cuenta.</h2>
              <div class="form-group"><input class="form-control" type="text" placeholder="Nombre" name="name" required></div>
              <div class="form-group"><input class="form-control" type="email" placeholder="Email" name="email" required></div>
              <div class="form-group"><input class="form-control" type="text" placeholder="Nombre de Usuario" name="username" required></div>
              <div class="form-group"><input class="form-control" type="password" placeholder="Contraseña" name="psw" required></div>
              <div class="form-group"><input class="form-control" type="password" placeholder="Contraseña (repetir)" name="psw-repeat" required></div>
              <div class="form-group">
                  <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">Acepto los términos de la licencia.</label></div>
              </div>
              <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registrarme</button></div><a class="already" href="/login">¿Ya tienes una cuenta? Entre aquí.</a></form>
      </div>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
