<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/search_category" method="post">
      <input type="text" name="name" placeholder="Input category name">
      <button type="submit">Search</button>
      <button type="submit" formaction="/category">It's Okay</button>
    </form>
  </body>
</html>
