<div class="container col-xl-6">
  <form action="/search_category" method="Post">
      <div class="row">
        <nav class="container col-xl-8 backgroundform1">
          <div class="form-group text-center">
            <input type="text" name="name" placeholder="Input category name">
          </div>
          <div class="form-group text-center">
            <input type="submit" name="search" value="search">
          </div>
        </nav>
      </div>
  </form>
</div>
