<div class="container col-xl-6">
        <div class="row">
          <nav class="container col-xl-8 backgroundform1">
            <div class="form-group text-center">
              <h5 class="textABC"> ---  |  ---  Date  --- |  ---  Name  ---  |  ---  Description  ---  |  </h5>
              <% @docs && @docs.each do |element| %>
                <li class="backgroundImput textABC"> <%= element.date%> | <%= element.name%>  |<%= element.description%>  </li>
              <% end %>
            </div>
      </div>
      </div>
