<html>
    <head>
        <title>Show File</title>
    </head>
    <body>
        <h1>See File</h1>
        <form action="/save_documents" method="GET" enctype="multipart/form-data">
            <input type="file" name="file">
        </form>
    </body>
</html>
