<!DOCTYPE html>
<html>

        <head>
        <title>DUNS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="widht=device-width, initial-sacale=1">
        <link rel="stylesheet" type="text/css" href="est.css">
    </head>
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="/" class="title">DOCUMENT UPLOAD & NOTIFIACTION SYSTEM</a>
                <nav class="navigation">
                    <ul>
                        <li><a href="/"> Docs</a></li>                     
                        <li><a href="/signup"> Sign up</a></li> 
                        <li><a href="/login"> Log in</a></li>
                        <li><a href="/aboutus"> About us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

                <center><table border=1 cellspacing=0 width="400" >     
                        <tr>
                                <th><h3 style="font-family:courier;"> SIGN UP to DUNS</h3></th>
                        </tr>
                        <tr>    
                                <td><form method="POST" action="/signup">
                                                <center><p> Do you have an account?<a href="/login">Log in</a></p></center>
                                                <center><p>Your fullname: <input type="text" name="fullname"></p></center>
                                                <center><p>Your email: <input type="text" name="email"></p></center>
                                                <center><p>Your username: <input type="text" name="username"></p></center>
                                                <center><p>Your password: <input type="password" name="password"></p></center>
                                                <center><p>Confirm password:<input type="password" name="confPassword"></p></center>
                                                <% if @error %>
                                                <p class="error"><%= @error %></p>
                                                <% end %>
                                                <center><input type="submit" /></center>
                                        </form>
                                </td>
                        </tr>
                </table></center>



	</body>

</html>
 
