<!DOCTYPE html>
<html>
    <body>
        <center><table border=1 cellspacing=0 width="400" >     
                <tr>
                        <th><h3 style="font-family:courier;"> SIGN UP to DUNS</h3></th>
                </tr>
                <tr>    
                        <td><form method="POST" action="/signup">
                                <center><p> Do you have an account?<a href="/login">Log in</a></p></center>
                                <center><p>Your fullname: <input type="text" name="fullname"></p></center>
                                <center><p>Your email: <input type="text" name="email"></p></center>
                                <center><p>Your username: <input type="text" name="username"></p></center>
                                <center><p>Your password: <input type="password" name="password"></p></center>
                                <center><p>Confirm password:<input type="password" name="confPassword"></p></center>
                                <% if @error %>
                                <p class="error"><%= @error %></p>
                                <% end %>
                                <center><input type="submit" /></center>
                        </form> </td>
                </tr>
        </table></center>
	</body>

</html>
 
