<!DOCTYPE html>
<html>
    <body>
       <div class="centraTabla">
       <table class="tabla">     
                <tr class="fila">
                        <th><h3> SIGN UP TO DUNS</h3></th>
                </tr>
                <tr>    
                        <td><form method="POST" action="/signup">
                                <p> Do you have an account? <a href="/login">Log in</a></p>
                                <p class="cuadrito">Your fullname: <br> <input  type="text" name="fullname"></p>
                                <p class="cuadrito">Your email: <br> <input  type="text" name="email"></p>
                                <p class="cuadrito">Your username: <br> <input   type="text" name="username"></p>
                                <p class="cuadrito">Your password: <br> <input   type="password" name="password"></p>
                                <p class="cuadrito">Confirm password: <br> <input type="password" name="confPassword"></p>
                                <input class="button2" type="submit" value="SIGN UP" />
                                <% if @error %>
                                <p class="error"><%= @error %></p>
                                <% end %>
                        </form> </td>
                </tr>
        </table></div>
    </body>
</html>
 
