<form method="POST" action="/subscriptions">
  <div class="container col-xl-6">
    <div class="row">
      <nav class="container col-xl-8 backgroundform1">
        <div class="form-group text-center">
          <% @collection.each do |element| %>
            <input type="radio" value="<%= element.name%>"  name="name" required>
            <label>Name: <%= element.name%></label>
            <label>- Description: <%=element.description%> </label>
            <br>
          <% end %>
        </div>
        <div class="form-group text-center">
          <input type="radio" name="option" value="delete"><label for="delete">Delete Subscription</label>
          <input type="radio" name="option" value="show"><label for="Show Documents">Show Documents</label>
          <input type="submit" name="select" value="select">
        </div>
    </div>
  </div>
</form>
