<!DOCTYPE html>
<html>
	<body>
        <div class="centraTabla">
        <table class="tabla">     
                <tr class="fila">
                        <th><h3> SIGN UP TO DUNS</h3></th>
                </tr>
        <tr>
		<td><form method="POST" action="/suscribe">
                Categories: <select id="categories" name="categories">
               					<% @categories.each do |category| %>
								  <option value=<%= category.name %>> <%= category.name %> </option>
								  <% end %>
								</select></p>
                <% if @error %>
                <p class="error"><%= @error %></p>
                <% end %>
                <% if @success %>
                <p class="success"><%= @success %></p>
                <% end %>
                <input class="button2" type="submit" value="SUSCRIBE" />
        </form></td>
        </tr>
        </table>
        </div>
	</body>

</html>