<!DOCTYPE html>
<html>
   <head>
      <title>Tag people</title>
   </head>

   <body>
   		<p>Insertar los nombres de las personas que figuran en el acta cargada</p>

      <img src="https://scontent-lga3-1.cdninstagram.com/v/t51.2885-15/e35/72704931_148983893094394_2583592381764102758_n.jpg?_nc_ht=scontent-lga3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=gHqdbxlZvX4AX8y6VNf&oh=660ffa85758a339cd55cdf26814f0163&oe=5EF9949D"
          alt="asadorhomergif" width="500" height="550"
   </body>

</html>
