<!DOCTYPE html>
<html>
   <head>
      <title>Tag people</title>
   </head>

   <body>
   		<p>Insertar los nombres de las personas que figuran en el acta cargada</p>
     
        
   </body>
   
</html>
