<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @document.each do |element| %>
    <li> <%= element.name%> <%= element.description%> <%= element.date%> </li>
    <% end %>
    <p></p>
    <a href="/profile">Behind</a>
  </body>
</html>
