<html>
  <body>
    <h1>Simple Echo & Chat Server</h1>
    <form id="form">
      <input type="text" id="input" value="send a message"></input>
    </form>
    <div id="msgs"></div>
  </body>
  <script type="text/javascript">
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));
        var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen = function() { show('websocket opened'); alert("Conexion Abierta");};
        ws.onclose = function() { show('websocket closed'); }
        ws.onmessage = function(m) { show('websocket message: ' + m.data); };

        var sender = function(f){
          var input = document.getElementById('input');
          input.onclick = function(){ input.value = "" };
          f.onsubmit = function(){
            ws.send(input.value);
            input.value = "send a message";
            return false;
          }
        }(document.getElementById('form'));
      })();
    }
  </script>
</html>

<!-- <script type="text/javascript">
  var ws;
    function IniciarConexion(){
      ws = new WebSocket("ws://echo.websocket.org");
      ws.onopen = function(){
        alert("Conexion Abierta");
      }
      ws.onmessage = function(Mensajes){
        var MensajesObtenidos = "Probando";
        alert("PROBANDDO);
      }
      ws.onclose = function(){
        alert("Conexion cerrada");
      }
    }
</script> -->
