<!DOCTYPE html>
<html>
   <head>
      <title>homepage</title>
   </head>

   <body>
   
      <img src="https://i.imgur.com/Bsoc4ju.jpg" alt="homermagios" width="500"
         height="281"
   
   </body>
   <p></p>
   <p>Ingrese <a href="/login">aqui</a>.</p>
   <p>Crear cuenta <a href="/register">aqui</a>.</p>
</html>



