<!DOCTYPE html>
<html>

   <body>
   <div align="center">
      <h1>Terminos y Condiciones</h1>
      <img src="https://i.imgur.com/Bsoc4ju.jpg"  alt="homermagios" width="500" height="281"</body>
      <p>..y pido ante el pergamino sagrado</p>
      <p>que si revelase los secretos de esta app</p>
      <p>se me hinche el estomago y se me caiga </p>
      <p>todo el cabello de la cabeza,asi sea </p>
   </div>
</html>



