<html>
    <head>
        <title>CARGA DE DOCUMENTO</title>
    </head>
    <body>
        <h1>Cargar documento</h1>
        <form action="/save_documents" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload Document">
        </form>
    </body>
</html>
