<!DOCTYPE html>
<html>
<body>

<form action="/upload" method="post" enctype="multipart/form-data">
    Seleccione documento para cargar:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="CARGAR" name="cargar">
</form>

</body>
</html>
