<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <br>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <h2 class="text-center">UPLOAD A NEW DOCUMENT</h2>       
                <% if @error %>
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap! </strong><%= @error %>
                    </div>
                <% end %>
                <% if @success %>
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Congrats! </strong><%= @success %>
                    </div>
                <% end %>
                <div class="form-group">
                    <input type="date" name="date" class="form-control" placeholder="Date" required="required">
                </div>
                 <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Title" required="required">
                </div>
                 <div class="form-group">
                    <input type="text" name="users" class="form-control" placeholder="Users involved">
                </div>
                <div class="form-group">
                <select id="categories" name="categories" class="custom-select">
                    <% @categories.each do |category| %>
                    <option value=<%= category.name %>> <%= category.name %> </option>
                    <% end %>
                </select></p>
                <div class="custom-file">
                    <input type="file" name="document" class="custom-file-input" id="inputGroupFile02" required="required">
                    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
                <div class="form-group">
                <br>
                    <button type="submit" class="btn btn-primary btn-block">Upload</button>
                </div>        
            </form>
            </div>
        </div>
    </body>
</html>

