<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    <title>User</title>
</head>
<body>
  <h1> User </h1>
    <div id="container">
        <form>
          <style type="text/css">
            label{
              display: inline-block;
              float: left;
              clear: left;
              width: 250px;
              text-align: right;
            }
            input {
              display: inline-block;
              float: left;
            }
          </style>
            <label for="name">First Name:</label>
            <label for="surnames">Last Names:</label>
            <label for="dni"> Dni:</label>
            <div id="lower">
                <input id="inp" type="button" value="Change pic"/>
                <input id="inp" type="button" value="Change info"/>
            </div>
            <label for="categorias">Categoria1</label>
            <label for="categorias">Categoria2</label>
            <label for="categorias">Categoria3</label>
        </form>
    </div>
</body>
</html>
