*{ /*elimina los margenes*/
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #0D0D0D;
}
.encabezado{
  background-color: #454545;
  height: 65px;
}
.buttonLogin{
  background-color:  #66C8C8;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border:  0px;
  text-align: center;
  color:black;
  font-size: 20px;
  margin:
}
