.button1{
  margin: 5px;
  padding: 10px 30px;
  border-radius: 15px;
  border:  4px;
  background-color: #66C8C8;
}
.button1:hover{
  background-color: #66C8C8;
}
.button2{
  margin: 5px;
  padding: 10px 56px;
  border-radius: 15px;
  border:  4px;
  background-color: #66C8C8;
}
.button2:hover{
  background-color: #66C8C8;
}
#buttonMag{
    margin: 5px;
    padding: 10px 56px;
    color: black;
}
#buttonMag1{
    margin: 20px;
    padding: 10px 75px;
    color: black;
}
#buttontop{
  margin-top: 25px;
}
.backgroundform1{
  margin-top: 50px;
  padding: 25px 40px;
  background-color:#454545;;
  border-radius:10px;
  border:  0px;
  color: #FFFFFF;
}
.backgroundform2{
  margin-top: 100px;
  padding: 25px 40px;
  background-color:#454545;;
  border-radius:10px;
  border:  0px;
  color: #FFFFFF;
}
