.elementColor{
  background-color: #96D6A7;
  margin: 25px 25px;
  padding: 1px 1px;
  border-radius: 10px;
}
.backgroundHs{
  background-color: #DFEEE3;
  margin-top: 0px ;
  margin-bottom: 0px ;
  padding: 0px 10px;
}
.backgroundDoc{
  margin: auto;
  background-color: #DFEEE3;
}
#buttonLogin{
  margin: 0px;
  text-align: center;
  padding: 10px 66px;
  border-radius: 10px;
  background-color: #ADEDBD;
  border: 0px;
}
.buttonLoginIndex{
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  border: 0px;
  padding: 10px 66px;
  border-radius: 10px;
  background-color: #ADEDBD;
}
#buttonIndex{
  text-align: center;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ADEDBD;
  border: 0px;
}
#buttonIndexA{
  margin: 5px 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ADEDBD;
  border: 0px;
}
#buttonIndexDocA{
  text-align: center;
  margin: 10px;
  padding: 5px;
  height: 40px;
  width:  170px;
  margin: 5px;
  border-radius: 10px;
  background-color: #ADEDBD;
  color: black;
}
