body{
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #FFFFFF;
}
.colorNavBar{
  background-color: #96D6A7;
}
#centerSlideButtonsNavBar{
  text-align: center;
  padding: 10px 66px;
  border-radius: 10px;
  background-color: #ADEDBD;
}
.slideButtonsNavBar{
  background-color: #96D6A7;
}
.slideButtonsNavBarHover:hover{
  background-color: #ADEDBD;
}
.slideButtonsNavBarB{
  margin-left: 100px
  padding: auto;
  background-color: #96D6A7;
}
.slideButtonsNavBarHoverB:hover{
  margin-bottom: 5px;
  padding: 0px 5px;
  border-radius: 1px;
  border: 0px;
  background-color: #ADEDBD;
}
