<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<br>
		<div class="row justify-content-center align-items-center h-100">
		  	<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
			<form method="POST" action="/insertcode" >	
				<% @recuperatecode = send_code_email(params[:email],User.find(email: params[:email])) %>
				<% @email = params[:email] %>
				<h2 class="text-center">INSERT CODE</h2> 
                <% if @error %>
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap! </strong><%= @error %>
                    </div>
                <% end %>
		        <div class="form-group">
		            <input type="text" name="coderec" class="form-control" placeholder="Input your code" required="required">
		        </div>
		        <input type="hidden" name="realcode" value="<%= @recuperatecode %>">
		        <input type="hidden" name="email" value="<%= @email %>">
		        <div class="form-group">
		            <button type="submit" class="btn btn-primary btn-block">Retrieve</button>
		        </div>   
		     </form>  
			</div>
		</div>
	</body>
</html>