<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<br>
		<div class="row justify-content-center align-items-center h-100">
		  	<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
		    <form action="/newadmin" method="post">
		        <h2 class="text-center">GRANT A NEW ADMIN PERMISSION</h2> 
                <% if @error %>
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Oh snap! </strong><%= @error %>
                    </div>
                <% end %>
                <% if @success %>
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Congrats! </strong><%= @success %>
                    </div>
                <% end %>   
		        <div class="form-group">
		            <input list="userlist" type="text" name="username" class="form-control" placeholder="Username" required="required" autocomplete="off">
		            <% if @users %>
		                <datalist id="userlist">
               			<% @users.each do |u| %>
               			<option value=<%= u.username %>><%= u.username%></option>
               			<% end %>
               		</datalist>
               		<% end %>
		        </div>
		        <div class="form-group">
		            <button type="submit" class="btn btn-primary btn-block">SEND</button>
		        </div>    
		    </form> 
			</div>
		</div>
	</body>
</html>
