<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <br>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form action="/newpass" method="post">
                <% @email = params[:email] %>
                <div class="form-group">
                    <input type="hidden" name="email" class="form-control" value="<%= @email %>">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="New password" required="required">
                </div>
                <% if @errorpasswordlength %>
                    <p class="error text-danger"><%= @errorpasswordlength %></p>
                <% end %>
                <div class="form-group">
                    <input type="password" name="confPassword" class="form-control" placeholder="Confirm new password" required="required">
                </div>
                <% if @errorpasswordconf %>
                    <p class="error text-danger"><%= @errorpasswordconf %></p>
                <% end %>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>       
            </form>
        </div>
    </body>
</html>
